In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# from sklearn.neural_network import MLPClassifier
# from sklearn.model_selection import StratifiedShuffleSplit
# from sklearn.tree import DecisionTreeClassifier, export_graphviz
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
#print(pd.__version__) #print pandas version, e.g., 0.24.2
#to upgrade: pip install --upgrade pandas

def load_data():
    csv_path =  "house_offers.csv"
   # csv_path =  "announces.csv"
    return pd.read_csv(csv_path)

In [2]:
announces = load_data()
announces.head()

,id,location,location_area,seller_type,type,partitioning,comfort,price,rooms_count,useful_surface,...,construction_year,real_estate_type,height_regime,level,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count
0,101,"Bucuresti, Sector 6, zona Drumul Taberei",Drumul Taberei,agency,apartament,decomandat,lux,37400,2.0,65.0,...,2018.0,bloc de apartamente,S+P+6E,2,6.0,1.0,1.0,NaN,1.0,1.0
1,102,"Bucuresti, Sector 6, zona Drumul Taberei",Drumul Taberei,agency,apartament,semidecomandat,1,39900,2.0,65.0,...,2018.0,bloc de apartamente,P+6E,1,6.0,1.0,1.0,NaN,1.0,1.0
2,103,"Bucuresti, Sector 3, zona Dristor",Dristor,agency,apartament,decomandat,lux,90290,2.0,58.0,...,2020.0,bloc de apartamente,D+P+5E,4,5.0,1.0,1.0,1.0,1.0,1.0
3,104,"Bucuresti, zona Herastrau",Herastrau,agency,apartament,decomandat,lux,700000,5.0,233.0,...,2021.0,bloc de apartamente,D+P+5E,5,5.0,1.0,3.0,NaN,NaN,NaN
4,105,"Bucuresti, Sector 6, zona Militari",Militari,agency,apartament,decomandat,1,48000,2.0,42.0,...,2021.0,bloc de apartamente,D+P+10E,2,10.0,1.0,1.0,NaN,NaN,1.0

In [3]:
announces.shape

(8320, 21)

In [4]:
announces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8320 entries, 0 to 8319
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8320 non-null   int64
 1   location            8320 non-null   object
 2   location_area       8320 non-null   object
 3   seller_type         8320 non-null   object
 4   type                8320 non-null   object
 5   partitioning        8146 non-null   object
 6   comfort             8065 non-null   object
 7   price               8320 non-null   int64
 8   rooms_count         8319 non-null   float64
 9   useful_surface      8246 non-null   float64
 10  built_surface       7399 non-null   float64
 11  construction_year   8180 non-null   float64
 12  real_estate_type    8281 non-null   object
 13  height_regime       8167 non-null   object
 14  level               8319 non-null   object
 15  max_level           8118 non-null   float64
 16  kitchens_count      7157 non-null   float64
 17  bathrooms_count     8002 non-null   float64
 18  garages_count       500 non-null    float64
 19  parking_lots_count  2009 non-null   float64
 20  balconies_count     6218 non-null   float64
dtypes: float64(10), int64(2), object(9)
memory usage: 1.3+ MB

Coloanele 16-20 contin foarte multe valori de Nan asa ca vom inlocui cu 0 valorile respective
Dintre coloanele "useful_surface" si "built_surface" o vom alege pe prima deoarece sunt mai putine valori de Nan

In [5]:
announces.drop_duplicates
announces['garages_count'] = announces['garages_count'].fillna(0)
announces['bathrooms_count'] = announces['bathrooms_count'].fillna(0)
announces['kitchens_count'] = announces['kitchens_count'].fillna(0)
announces['parking_lots_count'] = announces['parking_lots_count'].fillna(0)
announces['balconies_count'] = announces['balconies_count'].fillna(0)


data_announces=announces
data_announces.shape

(8320, 21)

In [6]:
data_announces= data_announces.drop(columns=['id','location' ,'partitioning','built_surface', 'level', 'seller_type', 'type', 'comfort', 'real_estate_type', 'height_regime' ], axis = 1)
data_announces.head()

,location_area,price,rooms_count,useful_surface,construction_year,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count
0,Drumul Taberei,37400,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0
1,Drumul Taberei,39900,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0
2,Dristor,90290,2.0,58.0,2020.0,5.0,1.0,1.0,1.0,1.0,1.0
3,Herastrau,700000,5.0,233.0,2021.0,5.0,1.0,3.0,0.0,0.0,0.0
4,Militari,48000,2.0,42.0,2021.0,10.0,1.0,1.0,0.0,0.0,1.0

In [7]:
data_announces=data_announces.dropna()

In [8]:
data_announces['location_area'] = data_announces['location_area'].astype('category')

In [9]:
data_announces.describe()

,price,rooms_count,useful_surface,construction_year,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count
count,7.946000e+03,7946.000000,7946.000000,7946.000000,7946.000000,7946.000000,7946.000000,7946.000000,7946.000000,7946.000000
mean,1.378026e+05,2.543544,75.133904,2003.734583,6.683866,0.883212,1.449912,0.070727,0.381953,0.936320
std,1.724809e+05,0.962836,40.717340,22.599435,3.064933,0.895104,0.743553,0.320134,2.728812,0.727745
min,1.000000e+04,1.000000,4.000000,1873.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.500000e+04,2.000000,52.000000,1984.000000,4.000000,1.000000,1.000000,0.000000,0.000000,1.000000
50%,8.917500e+04,2.000000,65.000000,2018.000000,6.000000,1.000000,1.000000,0.000000,0.000000,1.000000
75%,1.429120e+05,3.000000,85.000000,2020.000000,9.000000,1.000000,2.000000,0.000000,0.000000,1.000000
max,3.880000e+06,12.000000,530.000000,2023.000000,24.000000,72.000000,11.000000,10.000000,99.000000,12.000000

In [10]:
data_announces

,location_area,price,rooms_count,useful_surface,construction_year,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count
0,Drumul Taberei,37400,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0
1,Drumul Taberei,39900,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0
2,Dristor,90290,2.0,58.0,2020.0,5.0,1.0,1.0,1.0,1.0,1.0
3,Herastrau,700000,5.0,233.0,2021.0,5.0,1.0,3.0,0.0,0.0,0.0
4,Militari,48000,2.0,42.0,2021.0,10.0,1.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
8314,1 Decembrie 1918,63900,2.0,63.0,2020.0,5.0,1.0,1.0,0.0,0.0,1.0
8316,Calea Calarasilor,74000,1.0,35.0,2015.0,9.0,0.0,1.0,0.0,0.0,0.0
8317,Regina Elisabeta,98000,3.0,52.0,1959.0,8.0,1.0,1.0,0.0,0.0,0.0
8318,P-ta Unirii,285000,3.0,98.0,2019.0,1.0,1.0,2.0,0.0,0.0,0.0
8319,Iancului,63500,2.0,57.0,1965.0,8.0,1.0,1.0,0.0,0.0,1.0

In [11]:
houses = data_announces[data_announces['max_level']==0]
houses

Empty DataFrame
Columns: [location_area, price, rooms_count, useful_surface, construction_year, max_level, kitchens_count, bathrooms_count, garages_count, parking_lots_count, balconies_count]
Index: []

In [12]:
#sns.pairplot(data_announces)
#plt.show()

In [13]:
data_announces.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7946 entries, 0 to 8319
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_area       7946 non-null   category
 1   price               7946 non-null   int64
 2   rooms_count         7946 non-null   float64
 3   useful_surface      7946 non-null   float64
 4   construction_year   7946 non-null   float64
 5   max_level           7946 non-null   float64
 6   kitchens_count      7946 non-null   float64
 7   bathrooms_count     7946 non-null   float64
 8   garages_count       7946 non-null   float64
 9   parking_lots_count  7946 non-null   float64
 10  balconies_count     7946 non-null   float64
dtypes: category(1), float64(9), int64(1)
memory usage: 703.9 KB

#### Calculam pretul unitatii de suprafata

In [14]:
data_announces['price_per_unit'] = data_announces['price']/data_announces['useful_surface']
data_announces

,location_area,price,rooms_count,useful_surface,construction_year,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count,price_per_unit
0,Drumul Taberei,37400,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0,575.384615
1,Drumul Taberei,39900,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0,613.846154
2,Dristor,90290,2.0,58.0,2020.0,5.0,1.0,1.0,1.0,1.0,1.0,1556.724138
3,Herastrau,700000,5.0,233.0,2021.0,5.0,1.0,3.0,0.0,0.0,0.0,3004.291845
4,Militari,48000,2.0,42.0,2021.0,10.0,1.0,1.0,0.0,0.0,1.0,1142.857143
...,...,...,...,...,...,...,...,...,...,...,...,...
8314,1 Decembrie 1918,63900,2.0,63.0,2020.0,5.0,1.0,1.0,0.0,0.0,1.0,1014.285714
8316,Calea Calarasilor,74000,1.0,35.0,2015.0,9.0,0.0,1.0,0.0,0.0,0.0,2114.285714
8317,Regina Elisabeta,98000,3.0,52.0,1959.0,8.0,1.0,1.0,0.0,0.0,0.0,1884.615385
8318,P-ta Unirii,285000,3.0,98.0,2019.0,1.0,1.0,2.0,0.0,0.0,0.0,2908.163265
8319,Iancului,63500,2.0,57.0,1965.0,8.0,1.0,1.0,0.0,0.0,1.0,1114.035088

In [15]:
import datetime
data_announces['building_years']= datetime.datetime.now().year - data_announces['construction_year']
data_announces

,location_area,price,rooms_count,useful_surface,construction_year,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count,price_per_unit,building_years
0,Drumul Taberei,37400,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0,575.384615,5.0
1,Drumul Taberei,39900,2.0,65.0,2018.0,6.0,1.0,1.0,0.0,1.0,1.0,613.846154,5.0
2,Dristor,90290,2.0,58.0,2020.0,5.0,1.0,1.0,1.0,1.0,1.0,1556.724138,3.0
3,Herastrau,700000,5.0,233.0,2021.0,5.0,1.0,3.0,0.0,0.0,0.0,3004.291845,2.0
4,Militari,48000,2.0,42.0,2021.0,10.0,1.0,1.0,0.0,0.0,1.0,1142.857143,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,1 Decembrie 1918,63900,2.0,63.0,2020.0,5.0,1.0,1.0,0.0,0.0,1.0,1014.285714,3.0
8316,Calea Calarasilor,74000,1.0,35.0,2015.0,9.0,0.0,1.0,0.0,0.0,0.0,2114.285714,8.0
8317,Regina Elisabeta,98000,3.0,52.0,1959.0,8.0,1.0,1.0,0.0,0.0,0.0,1884.615385,64.0
8318,P-ta Unirii,285000,3.0,98.0,2019.0,1.0,1.0,2.0,0.0,0.0,0.0,2908.163265,4.0
8319,Iancului,63500,2.0,57.0,1965.0,8.0,1.0,1.0,0.0,0.0,1.0,1114.035088,58.0

In [16]:
data_rooms_surface_full_price= data_announces[['rooms_count','useful_surface', 'price']]
data_rooms_surface_full_price

      rooms_count  useful_surface   price
0             2.0            65.0   37400
1             2.0            65.0   39900
2             2.0            58.0   90290
3             5.0           233.0  700000
4             2.0            42.0   48000
...           ...             ...     ...
8314          2.0            63.0   63900
8316          1.0            35.0   74000
8317          3.0            52.0   98000
8318          3.0            98.0  285000
8319          2.0            57.0   63500

[7946 rows x 3 columns]

#### Stergem coloana price dupa calcul

In [17]:
data_with_full_price=data_announces.drop(columns=['construction_year' ], axis = 1)
data_announces= data_announces.drop(columns=['price','construction_year' ], axis = 1)
data_announces.head()

,location_area,rooms_count,useful_surface,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count,price_per_unit,building_years
0,Drumul Taberei,2.0,65.0,6.0,1.0,1.0,0.0,1.0,1.0,575.384615,5.0
1,Drumul Taberei,2.0,65.0,6.0,1.0,1.0,0.0,1.0,1.0,613.846154,5.0
2,Dristor,2.0,58.0,5.0,1.0,1.0,1.0,1.0,1.0,1556.724138,3.0
3,Herastrau,5.0,233.0,5.0,1.0,3.0,0.0,0.0,0.0,3004.291845,2.0
4,Militari,2.0,42.0,10.0,1.0,1.0,0.0,0.0,1.0,1142.857143,2.0

In [18]:
data_rooms_surface= data_announces[['rooms_count','useful_surface', 'price_per_unit']]
data_rooms_surface

      rooms_count  useful_surface  price_per_unit
0             2.0            65.0      575.384615
1             2.0            65.0      613.846154
2             2.0            58.0     1556.724138
3             5.0           233.0     3004.291845
4             2.0            42.0     1142.857143
...           ...             ...             ...
8314          2.0            63.0     1014.285714
8316          1.0            35.0     2114.285714
8317          3.0            52.0     1884.615385
8318          3.0            98.0     2908.163265
8319          2.0            57.0     1114.035088

[7946 rows x 3 columns]

In [19]:
location_stats=data_announces.groupby('location_area')['location_area'].agg('count').sort_values(ascending=False)
location_stats

location_area
Berceni                  386
Herastrau                350
Militari                 350
Pipera                   327
Drumul Taberei           282
                        ...
P-ta Resita                1
P-ta Sfanta Vineri         1
Prelungirea Ferentari      1
Serban Voda                1
Zetarilor                  1
Name: location_area, Length: 185, dtype: int64

In [20]:
len(location_stats[location_stats<=10])

76

In [21]:
dummies=pd.get_dummies(data_announces.location_area)
dummies

,1 Decembrie 1918,1 Mai,13 Septembrie,16 Februarie,Alba Iulia,Alexandriei,Alexandru Obregia,Andronache,Antiaeriana,Aparatorii Patriei,...,Vatra Luminoasa,Vest,Victoriei,Viilor,Virtutii,Vitan,Vitan Mall,Vitan-Barzesti,Vitanul Nou,Zetarilor
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
data_announces2=pd.concat([data_announces, dummies], axis='columns')
data_announces2

,location_area,rooms_count,useful_surface,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count,price_per_unit,...,Vatra Luminoasa,Vest,Victoriei,Viilor,Virtutii,Vitan,Vitan Mall,Vitan-Barzesti,Vitanul Nou,Zetarilor
0,Drumul Taberei,2.0,65.0,6.0,1.0,1.0,0.0,1.0,1.0,575.384615,...,0,0,0,0,0,0,0,0,0,0
1,Drumul Taberei,2.0,65.0,6.0,1.0,1.0,0.0,1.0,1.0,613.846154,...,0,0,0,0,0,0,0,0,0,0
2,Dristor,2.0,58.0,5.0,1.0,1.0,1.0,1.0,1.0,1556.724138,...,0,0,0,0,0,0,0,0,0,0
3,Herastrau,5.0,233.0,5.0,1.0,3.0,0.0,0.0,0.0,3004.291845,...,0,0,0,0,0,0,0,0,0,0
4,Militari,2.0,42.0,10.0,1.0,1.0,0.0,0.0,1.0,1142.857143,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8314,1 Decembrie 1918,2.0,63.0,5.0,1.0,1.0,0.0,0.0,1.0,1014.285714,...,0,0,0,0,0,0,0,0,0,0
8316,Calea Calarasilor,1.0,35.0,9.0,0.0,1.0,0.0,0.0,0.0,2114.285714,...,0,0,0,0,0,0,0,0,0,0
8317,Regina Elisabeta,3.0,52.0,8.0,1.0,1.0,0.0,0.0,0.0,1884.615385,...,0,0,0,0,0,0,0,0,0,0
8318,P-ta Unirii,3.0,98.0,1.0,1.0,2.0,0.0,0.0,0.0,2908.163265,...,0,0,0,0,0,0,0,0,0,0
8319,Iancului,2.0,57.0,8.0,1.0,1.0,0.0,0.0,1.0,1114.035088,...,0,0,0,0,0,0,0,0,0,0

In [23]:
def remove_pps_outliers(data_announces):
    data_announces_out=pd.DataFrame()
    for key, subdf in data_announces.groupby('location_area'):
        m= np.mean(subdf.price_per_unit)
        st=np.std(subdf.price_per_unit)  #standard dev.
        reduce_data_announces=subdf[(subdf.price_per_unit>(m-st)) & (subdf.price_per_unit<=(m+st))]
        data_announces_out=pd.concat([data_announces_out, reduce_data_announces],ignore_index=True)
    return data_announces_out

data_announces3=remove_pps_outliers(data_with_full_price)
data_announces3.shape

(5892, 12)

In [24]:
data_announces3

,location_area,price,rooms_count,useful_surface,max_level,kitchens_count,bathrooms_count,garages_count,parking_lots_count,balconies_count,price_per_unit,building_years
0,1 Decembrie 1918,52000,2.0,51.0,8.0,1.0,1.0,0.0,0.0,1.0,1019.607843,2.0
1,1 Decembrie 1918,83850,3.0,84.0,8.0,1.0,2.0,0.0,0.0,1.0,998.214286,2.0
2,1 Decembrie 1918,55000,2.0,55.0,8.0,1.0,1.0,0.0,0.0,1.0,1000.000000,2.0
3,1 Decembrie 1918,85900,2.0,83.0,6.0,1.0,1.0,0.0,0.0,1.0,1034.939759,2.0
4,1 Decembrie 1918,54100,2.0,51.0,5.0,1.0,1.0,0.0,0.0,1.0,1060.784314,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5887,Vitan-Barzesti,60000,2.0,54.0,11.0,1.0,1.0,0.0,0.0,1.0,1111.111111,13.0
5888,Vitan-Barzesti,45806,1.0,40.0,5.0,1.0,1.0,0.0,0.0,1.0,1145.150000,3.0
5889,Vitan-Barzesti,69900,2.0,67.0,11.0,1.0,1.0,0.0,0.0,1.0,1043.283582,16.0
5890,Vitan-Barzesti,75500,2.0,70.0,11.0,0.0,0.0,0.0,0.0,0.0,1078.571429,14.0
5891,Vitan-Barzesti,99000,3.0,84.0,13.0,0.0,2.0,0.0,0.0,0.0,1178.571429,15.0

# Eliminare anomalii

In [25]:

# import numpy as np


# data_set_without_location=data_announces3.drop([ 'location_area'], axis=1)
# # CalculeazÄƒ z-score pentru fiecare coloanÄƒ numericÄƒ
# z_scores = np.abs((data_set_without_location - data_set_without_location.mean()) / data_set_without_location.std())

# # IdentificÄƒ punctele anomale Ã®n baza unui prag de 3 standard deviation
# outliers = data_set_without_location[(z_scores > 3).any(axis=1)]
 #data_announces3_clean = data_announces3.drop(outliers.index)
# data_announces3_clean
data_announces3_clean = data_announces3
# outliers

import numpy as np

# # Eliminarea anomaliilor din setul de date
# data_set_without_location = data_announces3.drop(['location_area'], axis=1)
# z_scores = np.abs((data_set_without_location - data_set_without_location.mean()) / data_set_without_location.std())
# outliers = data_set_without_location[(z_scores > 3).any(axis=1)]
# #data_announces3_clean = data_announces3.drop(outliers.index)

# # Calcularea mediei dintre anomalii
# outliers_mean = outliers.mean()

# # Calcularea diferentelor dintre anomalii si media lor
# outliers_diff = outliers.sub(outliers_mean)

# # Eliminarea doar a celor mai exagerate anomalii
# max_outlier = outliers_diff.abs().max().idxmax()
# data_announces3_clean = data_announces3.drop(max_outlier, axis=0)


# # Afisarea tuturor datelor
# print("Data set fara anomalii:")
# #print(data_announces3_clean)
# print("\nMedie anomalii:")
# print(outliers_mean)
# print("\nDiferente anomalii fata de media lor:")
# print(outliers_diff)

In [26]:
# Verificarea coloanei 'price_per_unit' pentru valori NaN
is_nan = data_announces3_clean['price_per_unit'].isna()

# Sau alternativ, utilizÃ¢nd metoda isnull()
# is_nan = data_announces3_clean['price_per_unit'].isnull()

# Verificarea existenÈ›ei valorilor NaN Ã®n coloana 'price_per_unit'
if is_nan.any():
    print("ExistÄƒ valori NaN Ã®n coloana 'price_per_unit'")
else:
    print("Nu existÄƒ valori NaN Ã®n coloana 'price_per_unit'")

Nu existÄƒ valori NaN Ã®n coloana 'price_per_unit'

## Codificare locatie

In [27]:
# data_cod_locatie=data_announces3_clean

# grouped = data_cod_locatie.groupby('location_area')['price'].mean().reset_index()
# sorted_groups = grouped.sort_values('price')
# cod_locatie = 1
# for index, row in sorted_groups.iterrows():
#     location_area = row['location_area']
#     data_cod_locatie.loc[data_cod_locatie['location_area'] == location_area, 'cod_locatie'] = cod_locatie
#     cod_locatie += 1
# print("Grupuri ordonate crescÄƒtor dupÄƒ valoarea medie:")
# print(sorted_groups)

# print("Rezultatul final cu coloana cod_locatie:")
# data_cod_locatie.sort_values('cod_locatie', ascending=True)
# data_announces3= data_cod_locatie
# data_announces3

# CalculaÈ›i valoarea medie maximÄƒ dintre toate regiunile pe m2
# max_mean_price = data_announces3_clean.groupby('location_area')['price_per_unit'].mean().max()

# # Gruparea dupÄƒ regiune È™i calculul valorii medii a preÈ›ului
# grouped = data_announces3_clean.groupby('location_area')['price_per_unit'].mean().reset_index()

# # Modificarea codificÄƒrii pentru fiecare regiune
# data_cod_locatie = data_announces3_clean.copy()
# data_cod_locatie['cod_locatie'] = grouped['price_per_unit'] / max_mean_price

# # Sortarea datelor Ã®n funcÈ›ie de codificare
# data_cod_locatie = data_cod_locatie.sort_values('cod_locatie', ascending=True)

# # AfiÈ™area grupurilor ordonate crescÄƒtor dupÄƒ valoarea medie
# print("Grupuri ordonate crescÄƒtor dupÄƒ valoarea medie:")
# print(grouped.sort_values('price_per_unit'))

# # AfiÈ™area rezultatului final cu coloana cod_locatie
# print("Rezultatul final cu coloana cod_locatie:")
# data_cod_locatie.sort_values('cod_locatie', ascending=True)

# CalculaÈ›i valoarea medie a tuturor 

overall_mean_price = data_announces3_clean['price_per_unit'].mean()

# Gruparea dupÄƒ regiune È™i calculul valorii medii a preÈ›ului pe unitate
grouped = data_announces3_clean.groupby('location_area')['price_per_unit'].mean().reset_index()

print(grouped)
# CalculaÈ›i valoarea medie a grupului pe locaÈ›ie Ã®mpÄƒrÈ›itÄƒ la valoarea medie globalÄƒ
grouped['cod_locatie'] = grouped['price_per_unit'] / overall_mean_price

# Modificarea codificÄƒrii Ã®n DataFrame-ul original
data_cod_locatie = data_announces3_clean.merge(grouped[['location_area', 'cod_locatie']], on='location_area', how='left')

# Sortarea datelor Ã®n funcÈ›ie de codificare
data_cod_locatie = data_cod_locatie.sort_values('cod_locatie', ascending=True)

# AfiÈ™area grupurilor ordonate crescÄƒtor dupÄƒ valoarea medie
print("Grupuri ordonate crescÄƒtor dupÄƒ valoarea medie:")
print(grouped.sort_values('price_per_unit'))

# AfiÈ™area rezultatului final cu coloana cod_locatie
print("Rezultatul final cu coloana cod_locatie:")
print(data_cod_locatie.sort_values('cod_locatie', ascending=True))
data_cod_locatie=data_cod_locatie.dropna()

        location_area  price_per_unit
0    1 Decembrie 1918     1078.996851
1               1 Mai     1869.061563
2       13 Septembrie     1437.416221
3        16 Februarie             NaN
4          Alba Iulia     1910.541369
..                ...             ...
180             Vitan     1450.024611
181        Vitan Mall     1596.271640
182    Vitan-Barzesti     1127.722592
183       Vitanul Nou             NaN
184         Zetarilor             NaN

[185 rows x 2 columns]
Grupuri ordonate crescÄƒtor dupÄƒ valoarea medie:
             location_area  price_per_unit  cod_locatie
64               Ferentari      756.863030     0.476056
81            Industriilor      837.837838     0.526989
137    Prelungirea Ghencea      877.364889     0.551851
5              Alexandriei      881.648150     0.554545
68                 Fundeni      908.625428     0.571513
..                     ...             ...          ...
152  Splaiul Independentei             NaN          NaN
176                   Vest             NaN          NaN
178                 Viilor             NaN          NaN
183            Vitanul Nou             NaN          NaN
184              Zetarilor             NaN          NaN

[185 rows x 3 columns]
Rezultatul final cu coloana cod_locatie:
     location_area   price  rooms_count  useful_surface  max_level  \
2554     Ferentari   38000          2.0            41.0        4.0
2555     Ferentari   47000          3.0            63.0       10.0
2556     Ferentari   10900          1.0            17.0        4.0
2557     Ferentari   58500          4.0            82.0        3.0
3301  Industriilor   31000          1.0            37.0        2.0
...            ...     ...          ...             ...        ...
4691    Primaverii  557000          4.0           155.0        6.0
4677    Primaverii  647020          5.0           175.0        6.0
4684    Primaverii  657000          5.0           172.0        6.0
4674    Primaverii  470000          3.0           130.0        4.0
4658    Primaverii  489000          4.0           124.0       15.0

      kitchens_count  bathrooms_count  garages_count  parking_lots_count  \
2554             1.0              1.0            0.0                 0.0
2555             1.0              1.0            0.0                 0.0
2556             0.0              0.0            0.0                 0.0
2557             2.0              2.0            0.0                 0.0
3301             1.0              1.0            0.0                 0.0
...              ...              ...            ...                 ...
4691             1.0              3.0            0.0                 1.0
4677             0.0              4.0            1.0                 2.0
4684             1.0              3.0            1.0                 2.0
4674             1.0              2.0            0.0                 0.0
4658             1.0              3.0            0.0                 0.0

      balconies_count  price_per_unit  building_years  cod_locatie
2554              1.0      926.829268             7.0     0.476056
2555              1.0      746.031746            49.0     0.476056
2556              0.0      641.176471            39.0     0.476056
2557              1.0      713.414634            63.0     0.476056
3301              0.0      837.837838            11.0     0.526989
...               ...             ...             ...          ...
4691              1.0     3593.548387            16.0     2.944709
4677              3.0     3697.257143            16.0     2.944709
4684              1.0     3819.767442             9.0     2.944709
4674              1.0     3615.384615            23.0     2.944709
4658              1.0     3943.548387             3.0     2.944709

[5892 rows x 13 columns]

In [28]:
# # CalculeazÄƒ cuartilul 25 È™i cuartilul 75 pentru coloana "rooms_count"
# q1_rooms = data_announces3_clean['rooms_count'].quantile(0.25)
# q3_rooms = data_announces3_clean['rooms_count'].quantile(0.75)

# # CalculeazÄƒ intervalul IQR
# iqr_rooms = q3_rooms - q1_rooms

# # CalculeazÄƒ limitele inferioare È™i superioare
# lower_limit_rooms = q1_rooms - 1.5 * iqr_rooms
# upper_limit_rooms = q3_rooms + 1.5 * iqr_rooms

# # IdentificÄƒ punctele anomale
# outliers_rooms = data_announces3_clean[(data_announces3_clean['rooms_count'] < lower_limit_rooms) | (data_announces3_clean['rooms_count'] > upper_limit_rooms)]

# # EliminÄƒ punctele anomale din setul de date
# data_announces3_clean_rooms = data_announces3_clean.drop(outliers_rooms.index)
# data_announces3_clean_rooms

In [29]:
#X= data_announces.drop(['price_per_unit', 'location_area'], axis=1)
#y= data_announces['price_per_unit']

#predictie cu nr camere si suprafata
#X= data_rooms_surface.drop(['price_per_unit'], axis=1)
#y= data_rooms_surface['price_per_unit']
data_announces3=data_cod_locatie;
data_announces4= data_cod_locatie
X_price= data_announces4.drop(['price',  'location_area'], axis=1)
y_price= data_announces4['price']
#predictie cu nr camere si suprafata remove_pps_outliers
X= data_announces3.drop(['price_per_unit',  'location_area'], axis=1)
y= data_announces3['price_per_unit']

#predictie cu nr camere si suprafata remove_pps_outliers
#X= data_announces3_clean.drop(['price',  'location_area'], axis=1)
#y= data_announces3_clean['price']




#predictia pretului intreg
#X= data_rooms_surface_full_price.drop(['price'], axis=1)
#y= data_rooms_surface_full_price['price']

print(y.head())
print(y_price.head())

2554    926.829268
2555    746.031746
2556    641.176471
2557    713.414634
3301    837.837838
Name: price_per_unit, dtype: float64
2554    38000
2555    47000
2556    10900
2557    58500
3301    31000
Name: price, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split

# Adaugare constanta

In [31]:
# AdaugÄƒ o coloanÄƒ de 1 la Ã®nceputul setului de date
#price per unit
X = np.c_[np.ones(X.shape[0]), X]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

#price
X_price = np.c_[np.ones(X_price.shape[0]), X_price]

X_train_price, X_test_price, y_train_price, y_test_price = train_test_split(X_price, y_price, test_size=0.2, random_state=101)

In [32]:
from sklearn.linear_model import LinearRegression

# IniÈ›ializeazÄƒ modelul de regresie liniarÄƒ cu o constanta
#price per unit
model = LinearRegression(fit_intercept=True)

model.fit(X_train, y_train)
print("Price per unit",model.score(X_test,y_test))

#price
model_price = LinearRegression(fit_intercept=True)

model_price.fit(X_train_price, y_train_price)
print("Price",model_price.score(X_test_price,y_test_price))

Price per unit 0.9249198413075783
Price 0.9207698668916136

In [33]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

# EfectueazÄƒ o validare Ã®ncruciÈ™atÄƒ pentru a evalua performanÈ›a modelului
#price per unit
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
print(" Scores price per unit",cross_val_score(LinearRegression(fit_intercept=True), X, y, cv=cv))

#price
cv_price = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
print("Scores price",cross_val_score(LinearRegression(fit_intercept=True), X_price, y_price, cv=cv_price))

 Scores price per unit [0.9142523  0.91341372 0.92263782 0.91705021 0.91092966]
Scores price [0.91110489 0.91856202 0.92331849 0.91119498 0.92628672]

In [34]:
# CreeazÄƒ un nou array care conÈ›ine numele coloanelor
#price per unit
col_names = ['intercept'] + list(data_announces3.columns[1:-1])


pd.DataFrame(model.coef_, col_names, columns=['coeficient'])

ValueError: Shape of passed values is (12, 1), indices imply (14, 1)

In [ ]:
#price per unit
y_pred= model.predict(X_test)

#price
y_pred_price= model_price.predict(X_test_price)

In [ ]:
print("price per unit")
pd.DataFrame({'Y_test':y_test, 'Y_pred':y_pred})

In [ ]:
print("price")
pd.DataFrame({'Y_test':y_test_price, 'Y_pred':y_pred_price})

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
# EvaluÄƒm performanÈ›a modelului pe setul de testare
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Mean Absolute Error (MAE):", mae)
print("Root Mean Squared Error (RMSE):", rmse)

# CalculeazÄƒ predicÈ›ia pentru setul de date de testare È™i afiÈ™eazÄƒ diferenÈ›ele dintre valorile prezise È™i cele reale
y_pred = model.predict(X_test)
diff = np.abs(y_test - y_pred)
diff_df = pd.DataFrame({'Y_test': y_test, 'Y_pred': y_pred, 'Diferenta': diff})
print(diff_df)

# SelecteazÄƒ pragul pentru diferenÈ›e È™i afiÈ™eazÄƒ anomaliile
threshold = 100
anomalies = diff_df[diff_df['Diferenta'] > threshold]
print("Anomaliile sunt:")
print(anomalies)
mean_diff = np.mean(diff_df['Diferenta'])
print(f"Media diferenÈ›elor este {mean_diff:.2f}")
print("Anomaliile sunt:")
exageret_anomalies=anomalies[anomalies['Diferenta'] > 2*mean_diff]
print(exageret_anomalies)  # afiÈ™eazÄƒ doar anomaliile exagerate (de peste 2x media diferenÈ›elor)
#
anomaly_indexes = exageret_anomalies.index.tolist()
anomaly_table = data_announces3.loc[anomaly_indexes]
print(anomaly_table)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
# EvaluÄƒm performanÈ›a modelului pe setul de testare
mae_price = mean_absolute_error(y_test_price, y_pred_price)
rmse_price = np.sqrt(mean_squared_error(y_test_price, y_pred_price))
print("Mean Absolute Error (MAE):", mae_price)
print("Root Mean Squared Error (RMSE):", rmse_price)

# CalculeazÄƒ predicÈ›ia pentru setul de date de testare È™i afiÈ™eazÄƒ diferenÈ›ele dintre valorile prezise È™i cele reale
y_pred_price = model_price.predict(X_test_price)
diff_price = np.abs(y_test_price - y_pred_price)
diff_df_price = pd.DataFrame({'Y_test': y_test_price, 'Y_pred': y_pred_price, 'Diferenta': diff_price})
print(diff_df_price)

# SelecteazÄƒ pragul pentru diferenÈ›e È™i afiÈ™eazÄƒ anomaliile
threshold = 1000
anomalies_price = diff_df_price[diff_df_price['Diferenta'] > threshold]
print("Anomaliile sunt (price):")
print(anomalies_price)
mean_diff_price = np.mean(diff_df_price['Diferenta'])
print(f"Media diferenÈ›elor este {mean_diff_price:.2f}")
print("Anomaliile sunt:")
exageret_anomalies_price=anomalies_price[anomalies_price['Diferenta'] > 2*mean_diff_price]
print(exageret_anomalies_price)  # afiÈ™eazÄƒ doar anomaliile exagerate (de peste 2x media diferenÈ›elor)
#
anomaly_indexes_price = exageret_anomalies_price.index.tolist()
anomaly_table_price = data_announces4.loc[anomaly_indexes_price]
print(anomaly_table_price)

In [ ]:
#price per unit
data_announces3_cleaned = data_announces3.drop(anomaly_indexes)

X= data_announces3_cleaned.drop(['price_per_unit',  'location_area'], axis=1)
y= data_announces3_cleaned['price_per_unit']

# AdaugÄƒ o coloanÄƒ de 1 la Ã®nceputul setului de date
X = np.c_[np.ones(X.shape[0]), X]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

# IniÈ›ializeazÄƒ modelul de regresie liniarÄƒ cu o constanta
model = LinearRegression(fit_intercept=True)

model.fit(X_train, y_train)
print("Price per uni score without anomalies",model.score(X_test,y_test))

#price
data_announces4_cleaned = data_announces4.drop(anomaly_indexes_price)

X_price= data_announces4_cleaned.drop(['price',  'location_area'], axis=1)
y_price= data_announces4_cleaned['price']

# AdaugÄƒ o coloanÄƒ de 1 la Ã®nceputul setului de date
X_price = np.c_[np.ones(X_price.shape[0]), X_price]

X_train_price, X_test_price, y_train_price, y_test_price = train_test_split(X_price, y_price, test_size=0.2, random_state=101)

# IniÈ›ializeazÄƒ modelul de regresie liniarÄƒ cu o constanta
model_price = LinearRegression(fit_intercept=True)

model_price.fit(X_train_price, y_train_price)
print("Price score without anomalies",model_price.score(X_test_price,y_test_price))

In [ ]:
# EfectueazÄƒ o validare Ã®ncruciÈ™atÄƒ pentru a evalua performanÈ›a modelului
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
print("Price per unit scores without anomalies",cross_val_score(LinearRegression(fit_intercept=True), X, y, cv=cv))

# EfectueazÄƒ o validare Ã®ncruciÈ™atÄƒ pentru a evalua performanÈ›a modelului
cv_price = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
print("Price scores without anomalies",cross_val_score(LinearRegression(fit_intercept=True), X_price, y_price, cv=cv_price))

In [ ]:
# CreeazÄƒ un nou array care conÈ›ine numele coloanelor
col_names = ['intercept'] + list(data_announces3_cleaned.columns[1:-1])


print("Priceper unit",pd.DataFrame(model.coef_, col_names, columns=['coeficient']))

#price
col_names_price = ['intercept'] + list(data_announces4_cleaned.columns[1:-1])


print("Price",pd.DataFrame(model_price.coef_, col_names, columns=['coeficient']))

In [ ]:
y_pred= model.predict(X_test)
pd.DataFrame({'Y_test':y_test, 'Y_pred':y_pred})

In [ ]:
#price
y_pred_price= model_price.predict(X_test_price)
pd.DataFrame({'Y_test':y_test_price, 'Y_pred':y_pred_price})

# Generare grafic

In [ ]:
import matplotlib.pyplot as plt


results_df = pd.DataFrame({'Y_test': y_test, 'Y_pred': y_pred})

# SorteazÄƒ valorile Ã®n ordine crescÄƒtoare pentru a le putea trasa graficul
results_df.sort_values(by=['Y_test'], inplace=True)

# ResetÄƒm indexul pentru a ne asigura cÄƒ valorile se potrivesc Ã®ntre cele douÄƒ coloane
results_df = results_df.reset_index(drop=True)

print("Price per unit")

plt.plot(results_df['Y_test'], label='Valori reale')
plt.plot(results_df['Y_pred'], label='Valori prezise')
plt.xlabel('Exemple')
plt.ylabel('PreÈ›')
plt.legend()
plt.show()

In [ ]:
import matplotlib.pyplot as plt


results_df_price = pd.DataFrame({'Y_test': y_test_price, 'Y_pred': y_pred_price})

# SorteazÄƒ valorile Ã®n ordine crescÄƒtoare pentru a le putea trasa graficul
results_df_price.sort_values(by=['Y_test'], inplace=True)

# ResetÄƒm indexul pentru a ne asigura cÄƒ valorile se potrivesc Ã®ntre cele douÄƒ coloane
results_df_price = results_df_price.reset_index(drop=True)
print("Price")


plt.plot(results_df_price['Y_test'], label='Valori reale', color='red')
plt.plot(results_df_price['Y_pred'], label='Valori prezise', alpha=0.5, color='green')
plt.axhline(y=results_df_price['Y_test'].mean(), color='gray', linestyle='--', label='Valoare medie')
plt.xlabel('Exemple')
plt.ylabel('PreÈ›')
plt.legend()
plt.grid(True)
plt.show()

plt.scatter(results_df_price['Y_pred'], results_df_price['Y_test'], alpha=0.5, label='Perechi de valori')
plt.plot([0, max(y_pred_price)], [0, max(y_pred_price)], '--', color='red', label='Linie de referinÈ›Äƒ')
plt.xlabel('Valori prezise')
plt.ylabel('Valori reale')
plt.legend()
plt.show()

# Impartire in subseturi in functie de locatie

In [ ]:
# Lista cu locaÈ›iile unice care au cel puÈ›in 20 de anunÈ›uri
locations = data_announces3_clean['location_area'].value_counts()[data_announces3_clean['location_area'].value_counts() >= 20].index.tolist()

# DicÈ›ionar pentru a stoca modelele È™i coeficienÈ›ii pentru fiecare locaÈ›ie
models = {}
coefficients = {}

# Parcurgem fiecare locatie si cream un model separat pentru ea
for location in locations:
    # Filtram datele pentru locatia curenta
    subset = data_announces3_clean[data_announces3_clean['location_area'] == location]
    
    # Verificam daca avem cel putin 20 de anunturi in locatie
    if subset.shape[0] >= 20:
        # Cream setul de date
        X = subset.drop(['price', 'location_area'], axis=1)
        y = subset['price']

        # AdaugÄƒm o coloanÄƒ de 1 la Ã®nceputul setului de date
        X = np.c_[np.ones(X.shape[0]), X]

        # SeparÄƒm setul de date Ã®n setul de antrenare È™i cel de testare
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

        # IniÈ›ializÄƒm modelul de regresie liniarÄƒ cu o constantÄƒ
        model = LinearRegression(fit_intercept=True)

        # AntrenÄƒm modelul
        model.fit(X_train, y_train)

        # AdÄƒugÄƒm modelul È™i coeficienÈ›ii Ã®n dicÈ›ionare
        models[location] = model
        coefficients[location] = model.coef_

        # EfectuÄƒm predicÈ›ii pe setul de testare
        y_pred = model.predict(X_test)

        # AfiÈ™Äƒm tabelul cu valoarea realÄƒ È™i cea prezisÄƒ
        print("LocaÈ›ia: {}".format(location))
        print(pd.DataFrame({'Valoare reala': y_test, 'Valoare prezisa': y_pred}))

        # AfiÈ™Äƒm graficul pentru locaÈ›ia curentÄƒ
        plt.scatter(y_test, y_pred, color='blue', label='Valoare prezisa')
        plt.plot(y_test, y_test, color='red', label='Valoare reala')
        plt.xlabel("Valoare reala")
        plt.ylabel("Valoare prezisa")
        plt.title("LocaÈ›ia: {}".format(location))
        plt.legend()
        plt.show()
    else:
        print("Nu exista suficiente date pentru locatia: {}".format(location))

In [ ]:
# from selenium import webdriver
# from selenium.common.exceptions import NoSuchElementException
# from selenium.webdriver.common.by import By
# import pandas as pd
# from openpyxl import Workbook
# from bs4 import BeautifulSoup

# #setam calea cÄƒtre driverul Chrome È™i deschidem browserul
# PATH = "C:\\Users\\Larisa\\Desktop\\licenta\\chromedriver" 
# driver = webdriver.Chrome(PATH)

# # deschide site-ul Blitz.ro È™i cautÄƒ anunÈ›uri de vÃ¢nzare
# url = "https://www.blitz.ro/cluj-napoca?utm_term=imobiliare%20cluj&utm_campaign=14484281179&utm_content=&utm_source=google&utm_medium=cpc&gclid=Cj0KCQiAjbagBhD3ARIsANRrqEtb1A5VEDDrbYpvgAd42_6u8Fc3HznDCHRUrpb0QIjVnquUbfhr59IaAr_gEALw_wcB"
# driver.get(url)


# anunturi = []

# table = {}
# count = 0
# cards = driver.find_elements(By.CSS_SELECTOR, '.card')
# for i in range(len(driver.find_elements(By.CSS_SELECTOR, '.card__content'))):
#     try:
#          # condiÈ›ia de ieÈ™ire din buclÄƒ
#         if count == 2:
#             break
#         # accesam linkul pentru fiecare anunÈ› È™i extragem informaÈ›iile dorite din codul sursÄƒ
#         card = driver.find_elements(By.CSS_SELECTOR, '.card__content')[i]
#         link = card.find_element(By.CSS_SELECTOR, '.card__content--head a').get_attribute('href')
#         print(link)
#         driver.get(link)
        
#         offer_features = driver.find_element(By.CSS_SELECTOR, '.offer-features')

#         # extragem informaÈ›iile dorite din secÈ›iunea caracteristici ale ofertei
#         nr_camere = None
#         suprafata_utila = None
#         nr_bai = None
#         nr_balcoane = None
#         etaj = None
#         boxa_la_subs = None
#         tip_compartimentare = None
#         vechime_apartament = None
#         tip_imobil = None
#         dotari = None
#         anul_constructiei = None
#         tip_finisaj = None
#         materiale_constructie = None
#         modalitate_vanzare = None

#         for li in offer_features.find_elements(By.CSS_SELECTOR, 'li'):
#             li_text = li.text.replace('SuprafaÈ›Äƒ utilÄƒ', 'SuprafaÈ›Äƒ utilÄƒ:')
#             if 'Nr. camere' in li_text:
#                 nr_camere = li_text.split(':')[1].strip()
#             elif 'SuprafaÈ›Äƒ utilÄƒ' in li_text:
#                 suprafata_utila = li_text.split(':')[1].strip()
#             elif 'Nr. bÄƒi' in li_text:
#                 nr_bai = li_text.split(':')[1].strip()
#             elif 'Nr. balcoane' in li_text:
#                 nr_balcoane = li_text.split(':')[1].strip()
#             elif 'Etaj' in li_text:
#                 etaj = li_text.split(':')[1].strip()
#             elif 'BoxÄƒ la subsol' in li_text:
#                 boxa_la_subs = li_text.split(':')[1].strip()
#             elif 'Tip compartimentare' in li_text:
#                 tip_compartimentare = li_text.split(':')[1].strip()
#             elif 'Vechime apartament' in li_text:
#                 vechime_apartament = li_text.split(':')[1].strip()
#             elif 'Tip imobil' in li_text:
#                 tip_imobil = li_text.split(':')[1].strip()
#             elif 'DotÄƒri' in li_text:
#                 dotari = li_text.split(':')[1].strip()
#             elif 'Anul construcÈ›iei' in li_text:
#                 anul_constructiei = li_text.split(':')[1].strip()
#             elif 'Tip finisaj' in li_text:
#                 tip_finisaj = li_text.split(':')[1].strip()
#             elif 'Materiale construcÈ›ie' in li_text:
#                 materiale_constructie = li_text.split(':')[1].strip()
#             elif 'Modalitate vÃ¢nzare' in li_text:
#                 modalitate_vanzare = li_text.split(':')[1].strip()

#         # adÄƒugam informaÈ›iile la lista de anunÈ›uri
#         anunt = {
#             'Nr. camere': nr_camere,
#             'SuprafaÈ›Äƒ utilÄƒ': suprafata_utila,
#             'Nr. bÄƒi': nr_bai,
#             'Nr. balcoane': nr_balcoane,
#             'Etaj': etaj,
#             'BoxÄƒ la subsol': boxa_la_subs,
#             'Tip compartimentare': tip_compartimentare,
#             'Vechime apartament': vechime_apartament,
#             'Tip imobil': tip_imobil,
#             'DotÄƒri': dotari,
#             'Anul construcÈ›iei': anul_constructiei,
#             'Tip finisaj': tip_finisaj,
#             'Materiale construcÈ›ie': materiale_constructie,
#             'Modalitate vÃ¢nzare': modalitate_vanzare
#         }

#         print(anunt)
#         anunturi.append(anunt)
        
        
#         driver.back()  # revenim la pagina de cÄƒutare pentru a continua sÄƒ parcurgeÈ›i anunÈ›uri
#     except NoSuchElementException:
#         continue
#     count += 1 

# # inchidem browserul
# driver.quit()    
# # create dataframe from list of dictionaries
# df = pd.DataFrame(anunturi)

# # extragem cheile È™i valorile din fiecare rÃ¢nd al cadrului de date
# rows = []
# for _, row in df.iterrows():
#     rows.append(list(row.items()))

# # create new dataframe with columns from keys and rows from values
# new_df = pd.DataFrame([dict(row) for row in rows])


# new_df.to_excel('anunturi.xlsx', index=False)

In [ ]:
# from selenium import webdriver
# from selenium.common.exceptions import NoSuchElementException
# from selenium.webdriver.common.by import By
# import pandas as pd
# from openpyxl import Workbook
# from bs4 import BeautifulSoup
# import re

# #setam calea cÄƒtre driverul Chrome È™i deschidem browserul
# PATH = "C:\\Users\\Larisa\\Desktop\\licenta\\chromedriver" 
# driver = webdriver.Chrome(PATH)

# # deschide site-ul Blitz.ro È™i cautÄƒ anunÈ›uri de vÃ¢nzare
# url= "https://www.blitz.ro/cluj-napoca/vanzari-apartamente"
# #url = "https://www.blitz.ro/cluj-napoca?utm_term=imobiliare%20cluj&utm_campaign=14484281179&utm_content=&utm_source=google&utm_medium=cpc&gclid=Cj0KCQiAjbagBhD3ARIsANRrqEtb1A5VEDDrbYpvgAd42_6u8Fc3HznDCHRUrpb0QIjVnquUbfhr59IaAr_gEALw_wcB"
# driver.get(url)


# anunturi = []
# table = {}

# count = 0
# cards = driver.find_elements(By.CSS_SELECTOR, '.card')
# for i in range(len(driver.find_elements(By.CSS_SELECTOR, '.card__content'))):
#     try:
#          # condiÈ›ia de ieÈ™ire din buclÄƒ
#         if count == 99:
#             break
#         # accesam linkul pentru fiecare anunÈ› È™i extragem informaÈ›iile dorite din codul sursÄƒ
#         card = driver.find_elements(By.CSS_SELECTOR, '.card__content')[i]
#         link = card.find_element(By.CSS_SELECTOR, '.card__content--head a').get_attribute('href')
#         print(link)
#         driver.get(link)
        
#         offer_features = driver.find_element(By.CSS_SELECTOR, '.offer-features')
#         soup = BeautifulSoup(offer_features.get_attribute('innerHTML'), 'html.parser')
        
#         offer_info = driver.find_element(By.CSS_SELECTOR, '.offer-informations')
#         soup2 = BeautifulSoup(offer_info.get_attribute('innerHTML'), 'html.parser')
        
#         anunt ={}

#         # Find all the <strong> tags and use their text as column names
#         for strong in soup.find_all('strong'):
#             column_name = strong.text.strip()
#             anunt[column_name] = ''

#       #  offer_info = soup2.find('div', class_='offer-informations')
#         if offer_info is not None:
#             for item in soup2.find_all('div', class_='offer-informations--item'):
#                 strong_tags = item.find_all('strong')
#                 print(strong_tag)
#                 if strong_tags is not None:
#                     for index, strong_tag in enumerate(strong_tags):
#                         if 'Cartier : ' in strong_tag.text:
#                             column_value = ''
#                             if strong_tag.next_sibling is not None:
#                                 column_value = strong_tag.next_sibling.strip()
#                                 print(column_value)
#                                 anunt['Cartier'] = column_value
#                         elif 'Pret/mp: ' in strong_tag.text:
#                             column_value = ''
#                             if strong_tag.next_sibling is not None:
#                                 column_value = strong_tag.next_sibling.strip()
#                                 numeric_value = re.search(r'\d+[\.,]?\d*', column_value)
#                                 if numeric_value:
#                                     column_value = numeric_value.group(0).replace(',', '.')  # Ã®nlocuiÈ›i virgula cu punctul pentru valorile cu virgulÄƒ
#                                 print(column_value)
#                                 anunt['Pret/mp'] = column_value 
#                         elif 'Actualizat:' in strong_tag.text:
#                             column_value = ''
#                             if strong_tag.next_sibling is not None:
#                                 column_value = strong_tag.next_sibling.strip()
#                                 anunt['Data anunt'] = column_value  
                            
#         for li in soup.find_all('li'):
#             for strong in li.find_all('strong'):
               
#                 column_name = strong.text.strip()
#                 column_value = ''
#                 if strong.next_sibling is not None:
#                     column_value = strong.next_sibling.strip()
#                 numeric_value = re.search(r'\d+[\.,]?\d*', column_value)
#                 if numeric_value:
#                     column_value = numeric_value.group(0).replace(',', '.')  # Ã®nlocuiÈ›i virgula cu punctul pentru valorile cu virgulÄƒ
#                     print(column_value)    
#                 #table[column_name].append(column_value)
#                 anunt[column_name] = column_value

#         print(anunt)        
#         anunturi.append(anunt)
        
        
#         driver.back()  # revenim la pagina de cÄƒutare pentru a continua sÄƒ parcurgeÈ›i anunÈ›uri
#     except NoSuchElementException:
#         continue
#     count += 1 

# df2 = pd.DataFrame(anunturi)

# # Print the dataframe and export it to Excel
# print(df2)
# df2.to_excel('output.xlsx', index=False)
# # inchidem browserul
# driver.quit()